.body {
    margin-top: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"]{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.button-inline {
    display: inline-block;
    vertical-align: top;
}

.checkbox-middle {
    vertical-align: top;
    padding-top: 10px;
}